<h1>Edit question:</h1>

<%= form_for [@survey, @question] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <p><%= f.submit %></p>
<% end %>

  <%# <%= f.label :lyrics %>
  <%# <%= f.text_area :lyrics %> 