<h1>New Survey</h1>

<% if @survey.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @survey.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>


<%= form_for @survey do |f| %>
  <%= f.label :topic %>
  <%= f.text_field :topic %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.submit  %>
<% end %>




  <%# <%= f.label :genre %>
  <%# <%= f.text_field :genre %> 