<h1>New Survey</h1>

<%= form_for @survey do |f| %>
  <%= f.label :topic %>
  <%= f.text_field :topic %>
  <%= f.label :category %>
  <%= f.text_field :category %>
  <%= f.submit  %>
<% end %>




  <%# <%= f.label :genre %>
  <%# <%= f.text_field :genre %> 